{% extends 'home.html' %}

{% block content %}
<div class="container">
  <h2>Alterar Senha</h2>
  <div class="change-password-form">
    <form method="POST" action="{{ url_for('change_password') }}">
      <input type="password" name="old_password" placeholder="Current Password" required>
      <input type="password" name="new_password" placeholder="New Password" required>
      <input type="password" name="confirm_new_password" placeholder="Confirm New Password" required>
      <button type="submit">Confirmar</button>
    </form>
  </div>
  <div class="back-to-profile-link">
    <p>Já conseguiu alterar a senha? <a href="{{ url_for('dashboard') }}">Volte ao seu perfil.</a>.</p>
  </div>
</div>
{% endblock %}
